<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funstergames.funstoosh">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- To get current device's phone number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- To invite friends to game -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CountdownActivity"
            android:label="@string/title_activity_count_down_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PlayerActivity"
            android:label="@string/title_activity_players_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CreateGroupActivity" />
        <activity
            android:name=".activities.SeekerActivity"
            android:label="@string/title_activity_seeker_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HintPictureGalleryActivity"
            android:label="@string/title_activity_hint_picture_gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.MenuActivity" />
        <activity android:name=".activities.ReadyActivity" />
        <activity android:name=".activities.WaitForPlayersActivity" />

        <service android:name=".services.GameService" />
        <service android:name=".services.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.RequestPermissionActivity" />

        <service
            android:name=".services.InviteService"
            android:exported="false"></service>
    </application>

</manifest>